.twin-container {
  display: flex;
  text-align: left;
}
.product-container {
  width: 80%;
  margin-left: 100px;
  padding-right: 5px;
  border-right: 1px solid lightgray;
}
.cart-container {
  width: 20%;
  margin-left: 20px;
}
